/* CSS for Block Setup*/


/* Add Color Palette */

.has-seaweed-green-background-color {
    background-color: #396134;
}

.has-seaweed-green-color {
    color: #396134;
}

.has-sky-blue-background-color {
    background-color: #2e89aa;
}

.has-sky-blue-color {
    color: #2e89aa;
}

.has-black-background-color {
    background-color: #000000;
}

.has-black-color {
    color: #000000;
}

.has-mustard-background-color {
    background-color: #dfa13a;
}

.has-mustard-color {
    color: #dfa13a;
}


p{
    font-size: 22px;
}




@media (max-width: 599px){


    h1{
        

    }
    
    h2{
        font-size: 1.5rem;
    }


    p{
        font-size: 18px;
    }

}

